---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

/* path to glyphicons */
$icon-font-path: "/bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/* custom variable */
$body-bg: white;

body {
    padding-top: 40px;   
}

/* any style customization must be before the bootstrap import */
@import "bootstrap";