---
layout: default
---

<h1>Assignments</h1>

{% include header.html %}
{% for a_post in site.posts %}
 {{ a_post.date | date: '%B %d, %Y'  }}
<h4>
    <a href= "{{ a_post.url | prepend: site.baseurl }}">
        {{ a_post.title }}
       
    </a>
</h4>
{% endfor %}